* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 19px;
  color: var(--color);
  background-color: var(--background-color);
}

.content-principal {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  grid-template-areas: "nav content";
  position: relative;
}

/* -------------------------------------------------- navegador*/
.nav {
  grid-area: nav;
  margin-left: 5px;
  border-right: var(--border);
  position: fixed;
  width: 16%;
}

.nav .h1 {
  margin-top: 40px;
  margin-bottom: 35px;
  margin-left: 20px;
}
.nav a {
  text-decoration: none;
  font-size: 16px;
}

.nav .mas {
  margin-top: 110px;
}

.ins {
  display: none;
}

.nave {
  display: grid;
  grid-template-columns: 40px 50px;
  margin-bottom: 5px;
  height: 50px;
  width: max-content;
  align-items: center;
  padding-left: 20px;
  background-color: #1a1a1a00;
}

.nave .t {
  margin-bottom: 5px;
  background-color: #1a1a1a00;
}

.nave .icono {
  background-color: #1a1a1a00;
}

.nave p {
  font-size: 16px;
  background-color: #1a1a1a00;
}

.navegador:hover {
  border-radius: 10px;
  background: var(--background-nav);
  width: 90%;
  margin-left: 6px;
}

.x1n2onr6 {
  fill: var(--fill);
}

/* -------------------------------------------------- contenido principal*/
.content {
  grid-area: content;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-perfil {
  padding: 30px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  margin-right: 13%;
  margin-left: 7%;
}

.nombre {
  font-size: 16px;
  padding-top: 5px;
  display: grid;
  grid-template-columns: 32% 190px 252px 9%;
  grid-template-rows: 53px 38px 75px 200px;
  grid-template-areas:
    "imagen-perfil title_name editar confi"
    "imagen-perfil reacciones reacciones reacciones"
    "imagen-perfil user user user"
    "nuevo nuevo nuevo .";
}

.imagen-perfil {
  grid-area: imagen-perfil;
  height: 150px;
  display: flex;
  padding-left: 60px;
}

.imagen-perfil img {
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.title_name {
  grid-area: title_name;
  width: 100%;
}

.title_name h2 {
  font-size: 20px;
}

.editar {
  grid-area: editar;
  margin: 0px 0px 0px 20px;
  width: 100%;
}

.editar a {
  padding: 7px 16px;
  border-radius: 8px;
  background-color: var(--background-editar);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.confi {
  grid-area: confi;
  padding-top: 2px;
  width: max-content;
}

.reacciones {
  grid-area: reacciones;
  display: flex;
}

.reacciones p {
  margin-right: 40px;
  font-size: 16px;
}

.user {
  grid-area: user;
}

.user p {
  font-size: 14px;
}

.material-symbols-outlined {
  font-size: 84px !important;
}

.nuevo {
  grid-area: nuevo;
  margin-top: 40px;
  padding-left: 50px;
}

.nuevo p {
  font-size: 12px;
  padding-left: 20px;
  font-weight: bold;
}

.nue {
  width: 80px;
  height: 80px;
  border: var(--border);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.nuev {
  width: 50px;
  height: 50px;
}
/*------------------------------galeria----------------------------------*/

.galeria {
  width: 100%;
}

.pge-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 15px;
  border-top: var(--border);
}

.publi {
  padding-top: 5px;
  border-top: 1px solid black;
}

.pge a {
  text-decoration: none;
}

.pge {
  padding-top: 5px;
  margin-right: 60px;
}

.pge span {
  font-size: 12px;
  padding-left: 7px;
}

.fotos {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 40%);
  gap: 4px;
}

.img {
  width: 100%;
  position: relative;
}

.img img {
  width: 100%;
  height: 100%;
}

.img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(48, 50, 50, 0.314);
  color: white;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.overlay p {
  background: #36363629;
  margin-left: 5px;
}

.img:hover .overlay {
  opacity: 1;
}

.overlay-text {
  font-size: 18px;
}

/*----------------------------------footer----------------------------------*/

.footer {
  padding: 5px;
}

.links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.links a {
  margin: 3px;
  text-decoration: none;
  font-size: 12px;
  color: #737373;
}

.nav2 {
  display: none;
}

/*------------------ medias---------------------------------------------------*/
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --color: black;

    .editar a {
      --background-editar: #efefef;
    }

    .editar a:hover {
      --background-editar: #dbdbdb;
    }

    .nav:hover {
      --background-nav: rgb(242, 242, 242);
    }

    .x1n2onr6 {
      --fill: rgb(24, 24, 24);
    }

    .nav,
    .nav2,
    .nuevo,
    .nue,
    .pge-content {
      --border: 1px solid #dbdbdb;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --color: #f5f5f5;

    .editar a {
      --background-editar: #363636;
    }

    .editar a:hover {
      --background-editar: #262626;
    }

    .nav:hover {
      --background-nav: #1a1a1a;
    }

    .x1n2onr6 {
      --fill: rgb(245, 245, 245);
    }

    .nav,
    .nav2,
    .nuevo,
    .nue,
    .pge-content {
      --border: 1px solid #262626;
    }
  }
}

@media (max-width: 1234px) {
  .t {
    display: none;
  }

  .nav {
    width: 69px;
  }

  .nave:hover {
    border-radius: 10px;
    background: var(--background-nav);
    padding-left: 10px;
    width: min-content;
  }

  .nave {
    display: grid;
    grid-template-columns: 35px;
    margin-bottom: 0px;
    width: min-content;
    align-items: center;
    padding-left: 20px;
  }

  .nav .mas {
    margin-top: 0px;
  }

  .nave-ins:hover {
    border-radius: 10px;
    background: var(--background-nav);
    padding-left: 10px;
    width: min-content;
  }

  .nave-ins {
    display: grid;
    grid-template-columns: 35px;
    margin-bottom: 30px;
    width: min-content;
    height: 50px;
    align-items: center;
    padding-left: 20px;
    margin-top: 28px;
  }

  .ins {
    display: inline;
  }

  .nav .h1 {
    display: none;
  }

  .content-principal {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
    grid-template-areas: "nav content";
  }
}

@media (max-width: 765px) {
  .content-principal {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "nav2"
      "content"
      "nav";
    position: relative;
  }

  .content-perfil {
    padding: 30px 0px 0px 0px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .nombre {
    font-size: 16px;
    padding-top: 5px;
    display: grid;
    margin-top: 50px;
    grid-template-columns: 32% 190px 252px 9%;
    grid-template-rows: 53px 38px 75px 200px;
    grid-template-areas:
      "imagen-perfil title_name editar confi"
      "imagen-perfil reacciones reacciones reacciones"
      "imagen-perfil user user user"
      "nuevo nuevo nuevo .";
  }

  .nav2 {
    grid-area: nav2;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 96%;
    height: 50px;
    border-bottom: var(--border);
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav2 p {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }

  .nav2-icon {
    display: flex;
  }

  .nav {
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    z-index: 5;
    margin: 0px;
  }

  .nav .b,
  .n,
  .mas,
  .nave-ins {
    display: none;
    width: 100%;
  }

  .footer {
    display: none;
  }

  .editar {
    grid-area: editar;
    margin: 0px 0px 0px 0px;
    width: 100%;
  }
  .pge-content {
    border-bottom: var(--border);
    border-top: var(--border);
  }
}

@media (max-width: 733px) {
  .nombre {
    font-size: 16px;
    padding-top: 5px;
    display: grid;
    width: auto;
    margin-left: 10px;
    grid-template-columns: 110px 190px auto;
    grid-template-rows: 53px 38px 50px 130px auto;
    grid-template-areas:
      "imagen-perfil title_name confi"
      "imagen-perfil editar editar"
      "user user user"
      "nuevo nuevo nuevo "
      "reacciones reacciones reacciones";
  }

  .reacciones {
    grid-area: reacciones;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .reacciones p {
    margin: 0px;
  }

  .pge .publi,
  .etiqueta,
  .guar,
  .insta {
    display: none;
  }

  .ico-pge {
    width: 24px;
    height: 24px;
    margin-left: 50px;
  }

  .pge-content {
    display: flex;
    justify-content: space-around;
  }

  .editar {
    grid-area: editar;
    margin: 0px 0px 0px 0px;
    width: 100%;
  }
  .pge-content {
    border-bottom: var(--border);
    border-top: var(--border);
  }
  .imagen-perfil {
    grid-area: imagen-perfil;
    width: 150px;
    height: 150px;
    padding: 0px;
  }

  .imagen-perfil img {
    border-radius: 100%;
    width: 77px;
    height: 77px;
    margin-right: 40px;
  }

  .nuevo {
    grid-area: nuevo;
    margin: 0px;
    padding-left: 0px;
    width: 80%;
  }

  .nue {
    width: 64px;
    height: 64px;
    
  }

  .nuevo p {
    font-size: 12px;
    padding-left: 12px;
    font-weight: bold;
  }
  .pge-content {
    margin: 0px;
  }
}

@media (max-width: 407px) {
  .nombre {
    font-size: 16px;
    padding-top: 5px;
    display: grid;
    width: auto;
    margin-left: 30px;
    grid-template-columns: 110px 190px auto;
    grid-template-rows: 53px 38px 50px 130px auto;
    grid-template-areas:
      "imagen-perfil title_name confi"
      "imagen-perfil editar editar"
      "user user user"
      "nuevo nuevo nuevo "
      "reacciones reacciones reacciones";
  }
}
